body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    color: #404040;

    background-color: #3498db;
  }

  .wrapper {
    max-width: 1024px;
    margin: 60px auto;
    padding: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;

    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }

  .header-title {
    margin: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    color: #308cc9;
  }

  .section-title {
    margin: 0;
    padding: 30px 0 30px 40px;

    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
  }

  .about-me-layout {
    display: flex;
    padding: 20px 25px;
  }

  .about-me__photo {
    position: relative;

    width: 364px;
    height: 475px;
  }

  .about-me__photo img {
    position: relative;
    z-index: 3;
  }

    .contact-info {
    padding-top: 50px;
    padding-left: 100px;
  }

  .contact-name {
    margin: 0;
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #308cc9;
  }

  .Info_about_me ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .contact-item {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 27px;
  }

  .contact-item b{
    margin-right: 5px;
  }

  .summary p {
    margin: 0;
  }

  .skills ul {
    margin: 0;
    padding: 0;
    padding-left: 40px;
  }

  .examples pre {
    margin: 0;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.1);
  }

  .experience p {
    margin: 0;
    padding: 0;
  }

  .experience a {
    font-weight: bold;
    text-decoration: none;
    color: #05fdbf;
  }

  .education p {
    margin: 0;
    padding: 0;
    padding-right: 30px;
  }

  .education ul {
    margin: 0;
    padding-left: 40px;
  }
